html {
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
}
form input[type="text"] {
    width: 80%;
    margin: 10px 1em;
    border-top: 4px solid #000000;
    border-right: 4px solid #000000;
    border-bottom: 4px solid #000000;
    border-left: 4px solid #000000;
    border-radius: 7px;
}